<div class='container'>
<ng-progress></ng-progress>
    <h1>My Goals</h1>
    
      <div class='row'>
        <div class='col-md-6'>
        <div *ngFor = 'let goal of goals;let i = index'>
      <h5 appStrikethrough>{{goal.name}} {{goal.completeDate|date}}
      </h5>
      
      <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        <app-goal-detail *ngIf = 'goal.showDescription'[goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
    </div>
        </div>
        <div class='col-md-6'>
          <app-goal-form (addGoal) = 'addNewGoal($event,i)'></app-goal-form>
        </div>
    
      <p *ngIf='goals.length > 5'>Your goals are too many</p>
      </div>
      <div class="row">
          <blockquote class="blockquote text-center">
            <p class="mb-0">{{quote.quote}}</p>
            <footer class="blockquote-footer"><cite>{{quote.author}}</cite></footer>
          </blockquote>
        </div>
    </div>